.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #fafafa;
  padding: 1rem;
  border-radius: 2rem;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.details-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
