.about-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #fafafa;
  border-radius: 2rem;
  padding: 1rem 2rem;
  max-width: 40rem;
}
.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.details-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.details-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
