.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  background: #fafafa;
  margin: 2rem auto;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 50px;
  width: 50px;
}

.linkedin-container {
  display: flex;
  gap: 0.75rem;
}

.footer {
  margin: 2rem;
  text-align: center;
}
